<% layout('layout/layout') -%>
<% block('title', 'edit') -%>

<form target="/posts/add"  method="POST" accept-charset="utf-8">
     
    <div class="form-group col-md-6 offset-md-3">
        <label for="Id">Id</label>
        <input type="text" name="id"  class="form-control" id="Id" placeholder="Id" required >
      </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Title" required >
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="author">Author</label>
      <input type="text" name="author" class="form-control" id="author" placeholder="Author" required>
    </div>
 
    <div class="form-group col-md-6 offset-md-3">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>
