<% layout('layout/layout') -%>
<% block('title', 'edit') -%>

<form method="POST" action="/posts/update/<%= post.id %>">
     
    
      <div class="form-group col-md-6 offset-md-3">
        <label for="id">Id</label>
        <input type="text" name="id" class="form-control" id="id" placeholder="Id" value="<%= post.id %>" readonly>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="<%= post.title %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label for="author">Author</label>
        <input type="text" name="author" class="form-control" id="author" placeholder="Author" value="<%= post.author %>">
      </div>
   
   
      <div class="form-group col-md-6 offset-md-3">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>