<% layout('layout/layout') -%>
<% block('title', 'home') -%>

<section class="container">
  <h4>Posts data</h4>
  <a href="/posts/add" class="btn btn-outline-info btn-sm  my-4" role="button" aria-pressed="true">
    add post
  </a>
</section>
<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
        <% posts.forEach((post) => { %>
          <tr>

      
            <td> <%= post.title %></td>
            <td> <%= post.author %></td>
            <td>
              <a href="/posts/update/<%= post.id %>" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Edit</a>
              <a href="/posts/delete/<%= post.id %>" class="btn btn-outline-danger btn-sm " role="button" aria-pressed="true" onClick="return confirm('Apa kamu yakin ingin menghapus aku dari ingatan kamu?');">Remove</a>
            </td>
          </tr>
        <% }); %>
     
     
    </tbody>
  </table>